* {
  margin: 0;
  padding: 0;
}
img {
border: 5px solid yellow;
margin: 20px 0 0 20px;
border-radius: 60px;
border-color: blue;
}
#one {
  border: 10px solid #CBBE9A;
  font-size: 20px;
  padding: 20px;
  margin-right: 1100px;
  text-align: center;


}
#two {
  border: 10px solid #FFDF83;
  font-size: 20px;
  padding: 20px;
  margin-right: 1100px;
    text-align: center;
}
li{
  display: inline-block;
  margin-right: -4px;
  border: 1px solid #888888;
  padding: 5px 15px 5px 15px;
  background: #CBBE9A;
}
li:hover{
  font-size: 20px;
  background-color: yellow;
}
h1::before,h1::after {
  content: '\269C';
  color: red;
  margin: 0 5px 0 5px;
}
h1:hover{
  font-size: 30px;
  margin: 0 5px 0 5px;
}
p [href$='.jpg']::after {
  content:' (jpg)';
  font-size: 10px;
  color: #888;
}

.container{
  display:inline-block;
  width: 200px;
  height: 300px;
  padding: 30px 0 0 20px;
}
.container:hover{
  background: brown;
}
a{
background: #888;
}

.poz{
  display: block;
  height: 200px;
  width: 300px;
  min-width: 350px;
  background: brown;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
.container-iner{
  background: yellow;
  margin: 10px;
  position: absolute;
  top: 0;
  margin-left: 90px;
}
.fl{
  width: 300px;
  height: 200px;
  background: #888;
  overflow:auto;
}


.const{
  margin-left: 150px;
  width: 250px;
  height: 80px;
  background: green;
overflow: auto;
  position: relative;

}